<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
      <title>Battle Blobs</title>
      <link rel="stylesheet" href="/stylesheets/waitingChat.css">
      <link rel="stylesheet" href="/stylesheets/game.css">
      <link href="https://fonts.googleapis.com/css?family=Sniglet:800&display=swap" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Neucha&display=swap" rel="stylesheet">
      <link rel="icon" href="/assets/alienPink.png">
      <script src="js/getData.js" defer></script>
    </head>

    <body>
      <input type="text" id="nameGame" value="" hidden>
      <script src="/socket.io/socket.io.js"></script>

      <div align="right" id="logoutDiv">
          <form class="" action="/logout" method="post" onsubmit="return confirm('Are you sure you want to logout?')">
            <button type="submit" id="logout">Logout</button>
          </form>
      </div>

      <script src="js/stagingScript.js" defer></script>
      <!-- Include jquery, cookies, socket.io (client-side) and your own code -->
      <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
      <script src="https://unpkg.com/cookie_js@1.2.2/cookie.min.js"></script>
      <script src="https://unpkg.com/socket.io-client@2/dist/socket.io.slim.js"></script>

      <h1 align="center">BATTLE BLOBS</h1>
      <div align="center" id="loading">
        <h2 id="waitMessage"></h2>
        <img src="/assets/ui/waiting.gif" alt="">
      </div>

      <div id="chatArea">
          <ul id="messages"></ul>
        </div>
      <form class = "chatForm">
          <input id = "messageText" type="text" placeholder="Chat with other players while waiting" />
          <button type="submit" id="chatButton">Send</button>
      </form>

      <form class="" id="gamePage" action="/game" method="post">
        <button type="submit" name="button" id="gameSubmitBtn" hidden>Let the Battle Begin!</button>
      </form>
    </body>
</html>
