<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
      <title>Battle Blobs</title>
      <link rel="stylesheet" href="/stylesheets/chat.css">
      <link rel="stylesheet" href="/stylesheets/game.css">
      <link href="https://fonts.googleapis.com/css?family=Sniglet:800&display=swap" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Neucha&display=swap" rel="stylesheet">
      <link rel="icon" href="/assets/alienPink.png">
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
      <script src="js/getData.js" defer></script>
      <script src="js/getColor.js" defer></script>
    </head>

    <body>
      <input type="text" id="nameGame" value="" hidden>
      <input type="text" id="colorGame" value="" hidden>
      <script src="/socket.io/socket.io.js"></script>

      <div align="right" id="logoutDiv">
          <form class="" action="/logout" method="post" onsubmit="return confirm('Are you sure you want to logout?')">
            <button type="submit" id="logout">Logout</button>
          </form>
      </div>

      <script src="//cdn.jsdelivr.net/npm/phaser@3.3.0/dist/phaser.min.js"></script>
      <script src="js/gameScript.js" defer></script>
      <script src="js/weatherConfig.js" defer></script>
      <!-- Include jquery, cookies, socket.io (client-side) and your own code -->
      <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
      <script src="https://unpkg.com/cookie_js@1.2.2/cookie.min.js"></script>
      <script src="https://unpkg.com/socket.io-client@2/dist/socket.io.slim.js"></script>

      <h1 align="center">BATTLE BLOBS</h1>
      <!-- <p id = "usernameGame"></p> -->

      <div align="center" id="gameTimer"></div>
      <div class= "btn-group" id="toggles">
          <label class="switch">
              <input type="checkbox" checked>
              <span id="toggleWeather" class="slider round" hidden></span>
            </label>
            <label class="switch">
              <input type="checkbox" checked>
              <span id="music" class="slider round"></span>
            </label>
            <label class="switch">
              <input type="checkbox" checked>
              <span id="sound" class="slider round"></span>
            </label>

          <button type="button" class="collapsible" id="controlsBtn"><i class="material-icons">help_outline</i> Controls</button>
          <div id="controls" class="content">
            <figure>
                <img src="/assets/keyz.png" height= "40" width="40" id="spacebar" alt="">
                <figcaption id="movement">Set mines</figcaption>
            </figure>
            <figure>
              <img src="/assets/arrowkeys.png" height="60" width= "100" id="arrowkeys">
              <figcaption id="movement">Move</figcaption>
          </figure>
          <figure>
            <img src="/assets/spacebar.png" height= "40" width="80" id="spacebar" alt="">
            <figcaption id="movement">Attack!</figcaption>
        </figure>
          <figure>
            <img src="/assets/esc.png" height= "50" width="50" id="spacebar" alt="">
            <figcaption id="movement">Exit chat</figcaption>
        </figure>
          </div>
          
      </div>

      
      <script>
        var coll = document.getElementsByClassName("collapsible");
        var i;

        for (i = 0; i < coll.length; i++) {
          coll[i].addEventListener("click", function() {
            var figures = document.getElementsByTagName("figure");
            console.log("figures: ", figures.length);
            for (j = 0; j < figures.length; j++){
              if (figures[j].style.display === "none") {
                figures[j].style.display = "block";
              } else {
                figures[j].style.display = "none";
              }
            }
          });
        }
      </script>

      <div id="phaser"></div>
      <div id="chatArea">
        <ul id="messages"></ul>
      </div>
      <form class = "chatForm">
          <input id = "messageText" type="text" placeholder="Say something nice" >
            <button type="submit" id="chatButton">Send</button>
      </form>



      <form class="" id="postGame" action="/postgame" method="post">
        <button type="submit" name="button" hidden>Go to postgame screen</button>
        <input id="trapTime" value="<%= trapTime %>" hidden>
        <input id="gameTime" value="<%= gameTime %>"hidden>
      </form>
      <script type="text/javascript">
        var trapSecs = document.getElementById('trapTime').value;
        var gamePlaySecs = document.getElementById('gameTime').value;
        var timer;

        timer = setInterval(function() {
          var element = document.getElementById('gameTimer');
          element.innerHTML = "<h2>Set Traps! Time Remaining: <b>"+formatTime(trapSecs)+"</b></h2>";
          if(trapSecs < 1){
              clearInterval(timer);
              timer = setInterval(function() {
                var element = document.getElementById('gameTimer');
                element.innerHTML = "<h2>Battle! Time Remaining: <b>"+formatTime(gamePlaySecs)+"</b></h2>";
                if (gamePlaySecs < 1){
                  clearInterval(timer);
                  document.getElementById('postGame').submit();
                }
                gamePlaySecs--;
            }, 1000);
          }
          trapSecs--;
        }, 1000)

        function formatTime(seconds){
          //Minutes
          var minutes = Math.floor(seconds/60);
          //seconds
          var secondsPart = seconds%60;
          //add zeros to left of seconds
          secondsPart = secondsPart.toString().padStart(2,'0');
          //return formatted time
          return `${minutes}:${secondsPart}`;
        }
      </script>

    </body>
</html>
