<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>How to play</title>
    <link rel="icon" href="/assets/alienPink.png">
  </head>
  <body>
    <h1>HOW TO PLAY</h1>
    <form class="" action="/home" method="post">
      <button type="submit" name="button">Go Home</button>
    </form>
  </body>
</html>
