<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="icon" href="/assets/alienPink.png">
  </head>
  <body>
    <h1>Confirm your email. A personal code was sent to the entered email</h1><br>
    <form class="" action="/send" method="post">
      <input type="text" name="confrimCode" value="">
      <button type="submit" name="button">Confirm</button>
    </form>
  </body>
</html>
